/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bg-color{
	background-color: #FAFAFA;
}
.bg-image{
	background-image: url("../images/bg-image.jpg");
	height: 900px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*justify-content: center;*/
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
}
.header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1079px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 36px;
	/*margin-left: 67px;*/
}
.text-logo{
	font-size: 28px;
	color: #D9F0FF;
	font-weight: bold;
}
.navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 345px;
	height: 17px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 12px;
	color: #D9F0FF;
	font-weight: bold;
}
.main-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 100px;
	height: 144.83px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #FFFFFF;
	font-weight: bold;
}
/*section2*/
.sect2-cont{
	max-width: 1280px;
	width: 100%;
	/*max-height: 186px;
	height: 100%;*/
	margin:  0 auto;
}
.section2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
		background-color: #FFFFFF;
}
.left-block{
	width: 640px;
}
.insite-left-block{
	vertical-align: middle;
}
.title-2{
	font-size: 50px;
	width: 468px;
}
.paragraph1{
	font-size: 16px;
	width: 390px;
	margin-top: 24px;
	line-height: 22px;
}
.blue-box{
	background-color: #325DFF;
	width: 307px;
	height: 72px;
	border-radius: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 60px;
}
.right-block{
	width: 640px;
	vertical-align: middle;
}
/*section3*/
.sect3-cont{
	max-width: 1280px;
	width: 100%;
	margin:  0	auto;
	background-size: 100%;
}
.section3{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 76.6px;
}
.sect3-text{
	width: 620px;
	height: 130px;
	text-align: center;
}
.sect3-title{
	font-size: 35px;
	color: #000000;
}
.sect3-paragraph{
	font-size: 16px;
	color: #000000;
	line-height: 20px;
	margin-top: 9px;
}
.sect3-cont2{
/*	width: 1171px;*/
}
.box-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.box{
	background-color: #FFFFFF;
	width: 371px;
	height: 374px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 25px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;	
	text-align: center;
}
.circle{
	background-color: #325DFF;
	width: 88px;
	height: 88px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.icone{
	width: 32px;
	height: 32px;
}
.box-title{
	width: 120px ;
	font-size: 18px;
	color: #000000;
	margin: 27px 0 9px 0;
}
.box-paragraph{
	width: 200px;
	font-size: 16px;
	color: #000000;
	line-height: 20px;
}